@import "tailwindcss";


/* .leaflet-container {
  width: 100%;
  height: 300px;
  border-radius: 14px;
  z-index: 1;
}

@import "leaflet/dist/leaflet.css"; */


/* login page start */

 /* @keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
} 

.animate-fadeIn {
  animation: fadeIn 0.7s ease-in-out;
} */

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-40px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease-in-out;
}

.animate-fadeDown {
  animation: fadeDown 1.1s ease-in-out;
}


/* login page end */

/* contact page start */
/* @keyframes fadeDown {
  from { opacity: 0; transform: translateY(-25px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeDown { animation: fadeDown .9s ease-out forwards; }
.animate-fadeUp { animation: fadeUp 1.1s ease-out forwards; } */

/* contact page end */


/* page not found start */

@keyframes chase {
  0% { left: -100px; transform: rotate(0deg); }
  50% { left: 50%; transform: rotate(5deg); }
  100% { left: 110%; transform: rotate(0deg); }
}

@keyframes run {
  0% { right: -100px; transform: rotate(0deg); }
  50% { right: 50%; transform: rotate(-5deg); }
  100% { right: 110%; transform: rotate(0deg); }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-chase {
  animation: chase 5s linear infinite;
}

.animate-run {
  animation: run 5s linear infinite;
}

.animate-blink {
  animation: blink 0.5s linear infinite alternate;
}

.delay-150 {
  animation-delay: 0.15s;
}


/* page not found end */